body{
font-size: small;
}

.title
{ 
position:absolute; 
top:0px;
}

.bitext
{  
  border: thin solid #000;
  background-color: #ccf;
  clear: both;
}

.bitext td
{  
  vertical-align: top;
}


.bitext-src
{  
  border: 1px dashed #000;
  background-color: #fff;
}

.bitext-trg
{  
  border: 1px dashed #000;
  background-color: #fff;
}

.bitext-src td
{  
border-top: 2pt solid #fff;
  }

.bitext-trg td
{  
border-top: 2pt solid #fff;
  }


.alignform
{ 
  text-align:right;
margin-top: 40px;
}


.index
{ 
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 10px;
  }

.status {
           padding: 5px;
           position: absolute;
           left: 10px;
           top: 70px;
           background-color: #eeaaaa;
}
